* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(241, 196, 113);
}

@font-face {
    font-family: 'Pacifico';
    src: url(./fonts/Pacifico/Pacifico-Regular.ttf);
}

@font-face {
    font-family: 'Josefin Sans';
    src: url(./fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

h1 {
    font-family: 'Pacifico';
    font-size: 60px;
    text-align: center;
}

g#yAxis {
    font-family: 'Josefin Sans';
    font-size: 12px;
}

.bar text {
    font-family: 'Josefin Sans';
    font-size: 16px;
}

h2 {
    font-family: 'Pacifico';
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}
